:root {
  --light: #ffffff;
  --mid-light: #cfcfcf;
  --mid-dark: #bcbcbc;
  --dark: #191919;
  --color-01: #6991e3;
  --color-02: #465ab8;
  --color-03: #261360;
  --color-04: #323d4f;
  --shadow-color: #00000062;
}

/* text styles */
h1 {
  font-size: 240%;
  text-shadow: 0 0 5px var(--shadow-color);
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 16px 0;
}

p {
  margin: 16px 0px;
}

/* general styles */
body {
  background-color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--dark);
  line-height: 1;
}

main {
  display: flex;
  margin: 0 5%;
}

.icon {
  width: 30px;
  height: 30px;
  align-self: center;
}

.content-container {
  width: 100%;
}

.shadow {
  box-shadow: 0 0 5px var(--shadow-color);
}

/* header styles */
header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, var(--color-02), var(--color-03));
  color: var(--light);
  padding: 8px;
  margin-bottom: 10px;
}

/* aside styles */
aside {
  margin: 0 10px;
  flex: 0 2 360px;
}

.line-horizontal {
  height: 2px;
  width: 100%;
  background-color: var(--mid-dark);
  margin: 20px 0;
}

button {
  width: 100%;
  padding: 10px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  background-color: var(--mid-light);
  box-shadow: 0 0 2px var(--shadow-color);
}

button:hover {
  background-color: var(--mid-dark)
}

#search-button {
  background-color: var(--color-01);
  color: var(--light);
}

#search-button:hover {
  background-color: var(--color-02)
}

input {
  padding: 8px;
  border: 1px solid var(--mid-dark);
  border-radius: 4px;
  margin-bottom: 10px;
  width: calc(100% - 18px);
}

/* today section */
.today-container {
  border: 1px solid var(--dark);
  border-radius: 2px;
  padding: 0 10px;
  margin: 10px;
}

.today-header {
  display: flex;
}

.today-header h2 {
  margin-right: 10px;
}

/* 5 day forecast section */
.forecast-container {
  margin: 24px 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;

}

.card {
  background-color: var(--color-04);
  color: white;
  box-shadow: 0 0 2px var(--shadow-color);
  border-radius: 2px;
  padding: 0 10px;
  margin: 2px;
  flex: 1 0 120px;
}

/* media queries for responsiveness */
@media screen and (max-width: 1070px) {
  main {
    flex-direction: column;
  }

  aside {
    flex-direction: row;
    flex: auto;
    margin-bottom: 20px;
  }

  button {
    width: auto;
    padding: 10px 20px;
  }

  #search-button {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .card {
    flex: 0 0 120px;
  }
}